<template>
    <div>
        <h1>This is an example component</h1>
        <h3>This will change: {{ changeThis }}</h3>
    </div>
</template>

<script>
    export default {
        name: "ExampleComponent",
        data: {
            changeThis: true
        }
    }
</script>

<style scoped>

</style>